.footer {
  margin-top: 130px;
  width: 90vw;
  border-top: 1px solid #edeef3;
  padding: 91px 0 77px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &-links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: $main-text-color;
    &-item {
      display: inline-block;
      color: $main-text-color;
      margin-top: 26px;
      transition: 0.5s;
      &:hover {
        text-shadow: 0 0 7px black;
        color: #fff;
      }
    }
    & > div {
      display: flex;
      flex-direction: column;
    }
  }
  .copyright {
    width: 40%;
    text-align: right;
    & > span {
      display: block;
      font-weight: 400;
      font-size: 13px;
      line-height: 23px;
      color: $main-text-color;
    }
  }
}

@media (max-width: $containerWidth) {
  .footer {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: $tablet) {
  .footer {
    margin-top: 100px;
    padding: 50px 15px 70px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;

    &-links {
      width: 90vw;
      flex-wrap: wrap;
      font-size: 15px;

      &-item {
        display: inline-block;
        color: $main-text-color;
        margin-top: 26px;
        transition: 0.5s;
      }
      & > div {
        display: flex;
        flex-direction: column;
      }
    }
    .copyright {
      width: 100%;
      margin-top: 50px;
      & > span {
        font-size: 15px;
      }
    }
  }
}
