.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  &-item {
    color: $main-text-color;

    &.active {
      color: $active-text-color;
    }
  }
  &-download {
    padding: 16px 33px;
    background-color: #f5f6f9;
    position: relative;
    transition: color 0.5s;
    color: $main-text-color;

    &:hover {
      color: $active-text-color;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border: 1px solid transparent;
      width: 0;
      height: 0;
    }
    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover::before,
    &:hover::after {
      width: 99%;
      height: 96%;
    }
    &:hover::before {
      border-top-color: $active-text-color;
      border-right-color: $active-text-color;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &:hover::after {
      border-bottom-color: $active-text-color;
      border-left-color: $active-text-color;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
}

@media (max-width: $desktop) {
  .nav-menu {
    width: 60vw;
    font-size: 13px;
  }
}

@media (max-width: $tablet) {
  .header {
    & > a {
      position: relative;
      z-index: 1000;
    }
  }
  .burger-menu {
    position: relative;
    z-index: 1000;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-bar {
      width: 100%;
      height: 3px;
      border-radius: 8px;
      background-color: black;
      transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      &:nth-child(1) {
        background-color: #64e5a6;
      }
      &:nth-child(2) {
        opacity: 1;
        background-color: #a3f3cb;
      }
      &:nth-child(3) {
        background-color: #acbefb;
      }
    }

    &.open {
      .burger-menu-bar:nth-child(1) {
        transform: rotate(40deg) translateY(15px);
      }
      .burger-menu-bar:nth-child(2) {
        opacity: 0;
      }
      .burger-menu-bar:nth-child(3) {
        transform: rotate(-40deg) translateY(-14px);
      }

      & + .nav-menu {
        height: 100%;
        top: 0;
      }
    }
  }
  .nav-menu {
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: fixed;
    z-index: 999;
    height: 0;
    width: 100vw;
    top: -100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30vh;

    & > .nav-menu-item,
    .nav-menu-download {
      display: inline-block;
      margin-top: 50px;
    }
  }
}
