.main {
  &-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    letter-spacing: 3px;
    color: $active-text-color;
    margin-top: 145px;
  }
  &-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 130px;
    max-width: 90vw;
  }
}

.download-button {
  display: inline-block;
  width: 135px;
  height: 40px;
  margin-top: 56px;
}

.features {
  margin-top: 260px;
  &-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    letter-spacing: 1.5px;
    color: $active-text-color;
  }

  & .benefits {
    &-item {
      margin-left: 0;
    }
  }
  &-button {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    color: $main-text-color;
    padding: 24px 47px;
    border: 1px solid #edeef3;
    border-radius: 8px;
    margin-top: 75px;
    margin-bottom: 100px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;

    &:hover {
      box-shadow: 5px 5px 2px 2px $active-text-color;
    }
    &:active {
      transition: 0s;
      top: 3px;
      left: 3px;
      box-shadow: 3px 3px 1px 2px $active-text-color;
    }
  }

  .hidden-features {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    margin-top: -750px;
  }
  .hidden-features[data-show-content="true"] {
    opacity: 1;
    margin-top: 0;
  }
}

.last-section {
  margin-top: 260px;
  & > h2,
  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    letter-spacing: 1.5px;
    color: $active-text-color;
  }
  & > .download-button {
    margin-top: 25px;
  }
  &-image {
    width: 100%;
  }
}
