::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 15px;
}
::selection {
  color: #fff;
  background-color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding: 0 15px;
}
