<div class="benefits container">
    <div class="benefits-item" data-aos="fade-left">
        <img src=@@benefit_1.imgPath alt=@@benefit_1.imgAlt class="benefits-item-img">
        @@if(type === "1"){
        <p class="benefits-item-description">@@benefit_1.description</p>
        }
        @@if(type === "2"){
        <h4 class="benefits-item-title">@@benefit_1.title</h4>
        <p class="benefits-item-description">@@benefit_1.description</p>
        }
    </div>
    <div class="benefits-item" data-aos="fade-left" data-aos-delay="200">
        <img src=@@benefit_2.imgPath alt=@@benefit_2.imgAlt class="benefits-item-img">
        @@if(type === "1"){
        <p class="benefits-item-description">@@benefit_2.description</p>
        }
        @@if(type === "2"){
        <h4 class="benefits-item-title">@@benefit_2.title</h4>
        <p class="benefits-item-description">@@benefit_2.description</p>
        }
    </div>
    <div class="benefits-item" data-aos="fade-left" data-aos-delay="300">
        <img src=@@benefit_3.imgPath alt=@@benefit_3.imgAlt class="benefits-item-img">
        @@if(type === "1"){
        <p class="benefits-item-description">@@benefit_3.description</p>
        }
        @@if(type === "2"){
        <h4 class="benefits-item-title">@@benefit_3.title</h4>
        <p class="benefits-item-description">@@benefit_3.description</p>
        }
    </div>
</div>