<div class="description container">
    <h2 class="description-title" data-aos="fade-up">@@titleText</h2>
    <h3 class="description-subtitle" data-aos="fade-up" data-aos-delay="100">@@subtitleText</h3>
    @@if(imagesAmount === "1"){
    <div data-aos="zoom-in-down" data-aos-delay="200">
        <div class="description-image-wrapper">
            <img src=@@imgPath alt="iphone" width="396" height="792">
        </div>
    </div>
    }
    @@if(imagesAmount === "2"){
    <div class="description-images-wrapper">
        <img src=@@img1Path alt="lock" data-aos="fade-left" data-aos-delay="200" width="611" height="645">
        <img src=@@img2Path alt="iphone" data-aos="fade-right" data-aos-delay="200" width="611" height="645">
    </div>
    }
</div>