<footer class="container footer">
    <div class="footer-links">
        <div class="products">
            <h4 class="footer-links-title">Products</h4>
            <a href="#" class="footer-links-item">Doo for iOS</a>
            <a href="#" class="footer-links-item">Doo for Mac</a>
            <a href="#" class="footer-links-item">Features</a>
            <a href="#" class="footer-links-item">Support</a>
            <a href="#" class="footer-links-item">Privacy Policy</a>
        </div>
        <div class="social">
            <h4 class="footer-links-title">Social</h4>
            <a href="#" class="footer-links-item">Twitter</a>
            <a href="#" class="footer-links-item">Instagram</a>
        </div>
        <div class="contact">
            <h4 class="footer-links-title">Contact</h4>
            <a href="#" class="footer-links-item">support@getdooapp.com</a>

        </div>
    </div>
    <div class="copyright">
        <a href=@@webRoot>
            <img class="header-logo" src="./img/logos/main-logo.svg" alt="three rounds">
        </a>
        <span>Made with love in NYC</span>
        <span>Copyright &copy; 2016 – 2021 Ciarlo Software, LLC</span>
    </div>
</footer>