<footer class="container footer">
    <div class="footer-links">
        <div class="products">
            <h4 class="footer-links-title" data-aos="fade-right">Products</h4>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="100">Doo for iOS</a>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="200">Doo for Mac</a>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="300">Features</a>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="400">Support</a>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="500">Privacy Policy</a>
        </div>
        <div class="social">
            <h4 class="footer-links-title" data-aos="fade-right">Social</h4>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="100">Twitter</a>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="200">Instagram</a>
        </div>
        <div class="contact">
            <h4 class="footer-links-title" data-aos="fade-right">Contact</h4>
            <a href="#" class="footer-links-item" data-aos="fade-up" data-aos-delay="100">support@getdooapp.com</a>

        </div>
    </div>
    <div class="copyright">
        <div data-aos="fade-left">
            <a href=@@webRoot data-aos="fade-left">
                <img class="header-logo" src="./img/logos/main-logo.svg" alt="three rounds">
            </a>
        </div>
        <span data-aos="fade-left" data-aos-delay="100">Made with love in NYC</span>
        <span data-aos="fade-left" data-aos-delay="200">Copyright &copy; 2016 – 2021 Ciarlo Software, LLC</span>
    </div>
</footer>