<header class="header container">
    <a href=@@webRoot data-aos="fade-right">
        <img class="header-logo" src="./img/logos/main-logo.svg" alt="three rounds" width="60" height="20">
    </a>
    <div class="burger-menu">
        <div class="burger-menu-bar" data-aos="fade-left" data-aos-delay="100"></div>
        <div class="burger-menu-bar" data-aos="fade-left" data-aos-delay="200"></div>
        <div class="burger-menu-bar" data-aos="fade-left" data-aos-delay="300"></div>
    </div>
    <nav class="nav-menu">
        <a href="#" data-aos="fade-left" data-aos-delay="100" class="nav-menu-item link-hover active">Doo for iOS</a>
        <a href="#" data-aos="fade-left" data-aos-delay="200" class="nav-menu-item link-hover">Doo for Mac</a>
        <a href="#" data-aos="fade-left" data-aos-delay="300" class="nav-menu-item link-hover">Support</a>
        <div data-aos="fade-left" data-aos-delay="400">
            <a href="#" class="nav-menu-download">Download</a>
        </div>
    </nav>
</header>